:root {

}
.container {
  position: relative;
  height: 500px;
  width: 500px;
  background: lightblue;
  margin-left: 500px;
  margin-top: 50px;
}
.head {
  position: relative;
  height: 400px;
  width: 200px;
  background: lightgreen;
}
.ears {
  position: absolute;
  height: 200px;
  width: inherit;
  background: lightyellow;
}
.right {
  position: absolute;
  right: 0;
}
.left {
  position: absolute;
  left: 0;
  transform: scaleX(-1);
}

.ear {
  position: absolute;
  height: 150px;
  width: 150px;
}
.innerEar {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 30px 15px;
  background: lightpink;
  transform: rotate(-45deg);
  top: 50px;
}
.upper {
  /*background: black;*/
}
.lower {
  transform: rotate(90deg);
  bottom: 0;
  /*background: blue;*/
}
.lobe {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 75px 25px;
  background: gray;
}

.skull {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 75px;
  background: gray;
}

.trunkTop {
  position: absolute;
  width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 125px solid gray;
  left: 50px;
  top: 180px;
}

.trunkBottom {
  position: absolute;
  height: 150px;
  width: 50px;
  background: gray;
  left: 75px;
}
.tusk {
  position: absolute;
  top: 175px;
}
.left > .tusk {
  left: -50px;
}
.right > .tusk {
  right: 35px;
}
.tuskShaft {
  position: relative;
  height: 75px;
  width: 15px;
  background: white;
}
.tuskTip {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid white;

}
