:root {
  --lightGray: rgb(128, 163, 183);
  --darkGray: rgb(102, 143, 165);
}
body {
  background: rgb(119, 225, 93);
}
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.elephant {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 50px auto;
}

.head {
  position: relative;
  height: 400px;
  width: 200px;
}

.eyes {
  position: absolute;
  height: 75px;
  width: inherit;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.eye {
  height: 75px;
  width: 75px;
  border-radius: 35px;
  background: white;
}
.pupil {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: black;
  margin: 0 auto;
  margin-top: 40px;
}
.lightReflection {
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: white;
  margin-left: 3px;
  margin-top: 2px;

}

.ears {
  position: absolute;
  height: 200px;
  width: inherit;
}
.right {
  position: absolute;
  right: 10px;
}
.left {
  position: absolute;
  left: 10px;
  transform: scaleX(-1);
}
.ear {
  position: absolute;
  height: 150px;
  width: 150px;
}
.innerEar {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 30px 15px;
  background: lightpink;
  transform: rotate(-45deg);
  top: 50px;
}
.upper {
}
.lower {
  transform: rotate(90deg);
  bottom: 0;
}
.lobe {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 75px 25px;
  background: var(--darkGray);
}

.skull {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 75px;
  background: var(--lightGray);
}

.trunkTop {
  position: absolute;
  width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 125px solid var(--lightGray);
  left: 50px;
  top: 180px;
}
.trunkBottom {
  position: absolute;
  height: 150px;
  width: 50px;
  background: var(--lightGray);
  left: 75px;
}

.tusk {
  position: absolute;
  top: 175px;
}
.left > .tusk {
  left: -50px;
}
.right > .tusk {
  right: 35px;
}
.tuskShaft {
  position: relative;
  height: 75px;
  width: 15px;
  background: white;
}
.tuskTip {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid white;

}
