:root {
  --tigerHeight: 600px;
  --tigerWidth: 600px;

  /* Height fractions */
  --quarterHeight: calc(var(--tigerHeight) * 0.25);
  --thirdHeight: calc(var(--tigerHeight) * 0.33);
  --halfHeight: calc(var(--tigerHeight) * 0.5);
  --twoThirdsHeight: calc(var(--tigerHeight) * 0.66);
  --threeQuartersHeight: calc(var(--tigerHeight) * 0.75);

  /* Width fractions */
  --quarterWidth: calc(var(--tigerWidth) * 0.25);
  --thirdWidth: calc(var(--tigerWidth) * 0.33);
  --halfWidth: calc(var(--tigerWidth) * 0.5);
  --twoThirdsHeight: calc(var(--tigerWidth) * 0.66);
  --threeQuartersWidth: calc(var(--tigerWidth) * 0.75);
}

.container {
  position: relative;
  height: 600px;
  width: 600px;
  background: lightyellow;
}

.tiger {
  position: relative;
  height: var(--tigerHeight);
  width: var(--tigerWidth);
  background: lightblue;
}

.head {
  position: relative;
  height: var(--halfHeight);
  width: var(--threeQuartersWidth);
  margin: 0 auto;
  top: 100px;
}

.ears {
  position: absolute;
  height: var(--quarterHeight);
  width: 400px;
  right: 0;
  left: 0;
  margin: auto;
  background: yellow;
  z-index: 0;
}

.face {
  position: absolute;
  height: var(--halfHeight);
  width: var(--threeQuartersWidth);
  border-radius: 300px / 200px;
  background: green;
  top: 25px;
  z-index: 2;
}

.left, .right {
  position: absolute;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.ear {
  position: relative;
  height: 100px;
  width: 100px;
  background: lightgreen;
}

.outerEar {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: white;
}

.innerEar {
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 37px;
  background: black;
  margin: 0 auto;
  top: 15px;
}

.eyes {
  position: absolute;
  height: 30%;
  width: 60%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
}

.eye {
  height: 55px;
  width: 75px;
  border-radius: 37px / 32px;
  background: white;
  border: 2px solid black;
}

.pupil {
  position: relative;
  height: 25px;
  width: 25px;
  background: black;
  top: 20px;
  left: 50px;
  border-radius: 12.5px;
}

.lightReflection {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: white;
}

.snout {
  position: absolute;
  height: 150px;
  width: 300px;
  border-radius: 150px / 75px;
  background: white;
  left: 0;
  right: 0;
  top: 125px;
  margin: auto;
  z-index: 2;
}

.nose {
  position: absolute;
  height: 50px;
  width: 75px;
  border-radius: 37px / 25px;
  background: lightblue;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
  overflow: hidden;
  z-index: 3;
}

.bottomNose {
  position: relative;
  height: 30px;
  width: 100%;
  top: 20px;
  background: green;
}

.nostril {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: black;
}

.whiskers {
  position: relative;
  height: 150px;
  width: 100%;
  top: 30px;
  border: 1px dotted purple;
}

.right > .whiskerGroup {
  transform: rotate(30deg);
}
.left > .whiskerGroup {
  transform: rotate(-30deg);
}
.whiskerGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 100px;
  background: purple;
}

.right .whisker {
  left: 30px;
}
.left .whisker {
  right: 30px;
}
.whisker {
  position: absolute;
  height: 5px;
  width: 150px;
  background: black;
}
.one {
  top: 20px;
}
.two {
  top: 40px;
}
.three {
  top: 60px;
}
