:root {
  --tigerHeight: 600px;
  --tigerWidth: 600px;

  /* Height fractions */
  --quarterHeight: calc(var(--tigerHeight) * 0.25);
  --thirdHeight: calc(var(--tigerHeight) * 0.33);
  --halfHeight: calc(var(--tigerHeight) * 0.5);
  --twoThirdsHeight: calc(var(--tigerHeight) * 0.66);
  --threeQuartersHeight: calc(var(--tigerHeight) * 0.75);

  /* Width fractions */
  --quarterWidth: calc(var(--tigerWidth) * 0.25);
  --thirdWidth: calc(var(--tigerWidth) * 0.33);
  --halfWidth: calc(var(--tigerWidth) * 0.5);
  --twoThirdsHeight: calc(var(--tigerWidth) * 0.66);
  --threeQuartersWidth: calc(var(--tigerWidth) * 0.75);
}

.container {
  position: relative;
  height: 600px;
  width: 600px;
  background: lightyellow;
}

.tiger {
  position: relative;
  height: var(--tigerHeight);
  width: var(--tigerWidth);
  background: lightblue;
}

.head {
  position: relative;
  height: var(--halfHeight);
  width: var(--threeQuartersWidth);
  margin: 0 auto;
  top: 100px;
}

.ears {
  position: absolute;
  height: var(--quarterHeight);
  width: 400px;
  left: 25px;
  background: yellow;
  z-index: 0;
}

.face {
  position: absolute;
  height: var(--halfHeight);
  width: var(--threeQuartersWidth);
  border-radius: 300px / 200px;
  background: green;
  top: 25px;
  z-index: 2;
}

.left, .right {
  position: absolute;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.ear {
  position: relative;
  height: 100px;
  width: 100px;
  background: lightgreen;
}

.outerEar {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: white;
}

.innerEar {
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 37px;
  background: black;
  margin: 0 auto;
  top: 15px;
}
